
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {position:fixed; bottom: 5px; right: 5px;
    border-style: solid;
      border-color: blue;
      border-width: 5px;
      padding: 5px;
      margin: 5px;
      width:25%;
    
}
#two {position:fixed; top: 5px; right: 5px;
    border-style: solid;
      border-color: green;
      border-width: 5px;
      padding: 5px;
      margin: 5px;
      width:25%;
    
}
#three {position:fixed; top: 5px; left: 5px;
    border-style: solid;
      border-color: orange;
      border-width: 5px;
      padding: 5px;
      margin: 5px;
      width:25%;
    
}
#four {position:fixed; bottom: 5px; left: 5px;
    border-style: solid;
      border-color: yellow;
      border-width: 5px;
      padding: 5px;
      margin: 5px;
      width:25%;
    
}
#link a {
    color: #ffffff;
    font-weight:bold;
     background-color: #2f418e;
     }
 #link a:link {
    text-decoration:none;
    position:absolute; top: 10px;right:44%;
}